<!--register_user.html-->
{{ template "header.html" .}}

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui header">
                Регистрация нового пользователя
            </h2>

            <form class="ui large form" action="/register" method="POST">

                <div class="field">
                    <div class="ui left icon input">
                        <i class="at icon"></i>
                        <input type="email" required name="email" placeholder="Логин(email)">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" required pattern="[^ ]+" minlength="3" maxlength="30" name="password" placeholder="Пароль">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="passRepeat" placeholder="Повторите пароль">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" minlength="3" maxlength="30" placeholder="Видимое имя (по желанию)">
                    </div>
                </div>
                <button class="ui fluid large primary submit button">Зарегистрировать</button> {{ if .Error}}
                <div class="ui negative message">
                    <div class="header">{{.ErrorTitle}}</div>
                    <p>{{.ErrorMessage}}</p>
                </div>
                {{end}} {{ if .Success}}
                <div class="ui positive message">
                    <div class="header">{{.SuccessTitle}}</div>
                    <p>{{.SuccessMessage}}</p>
                </div>

            </form>
            <div class="ui message">
                Войти? <a href="/"> Вход</a>
            </div>
            {{end}}
        </div>
    </div>
    {{ template "footer.html" .}}